{{#*inline "page"}}

<link href="/static/css/beer.css" type="text/css" rel="stylesheet" />
<section id="about">
  <h1>About</h1>
  <p>This is the BrewStatsServer Software front end application built for displaying brewing statistics.
</section>

{{/inline}}
{{~> (parent)~}}
