<footer>
<link href="/static/css/beer.css" type="text/css" rel="stylesheet" />
<div id="footsy">
    <p>Copyright © This page and the backend source code are licensed under <a href='https://www.gnu.org/licenses/gpl-3.0.html'> GNU General Public License V3 or higher </a></p>
    <p>The source code for this page and the backend source code may be found <a href='https://github.com/nestletoiletwater/brewingstatsserver'>here.</a></p>
</div>
</footer>
