<!doctype html>
<html>
<link href="/static/css/beer.css" type="text/css" rel="stylesheet" />
  <head>
    <title>Brew Stats Server</title>
  </head>
  <body>
    {{> header}}
    {{~> page}}
    <p></p>
    {{> footer}}
  </body>
</html>
